* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px ;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #f4f4f9;
    padding: 20px;
}


#titulo {
    text-align: center;
    font-size: 36px;
    font-weight: bold;
}

#estante {
    display: flex;
    padding-right: 20px;
}